[tool.poetry]
name = "escavador"
version = "0.1.4"
description = "A library to  interact with Escavador API"
authors = [
    "Rafael <rafaelcampos@escavador.com>",
    "Gabriel <gabriel@escavador.com>"
]
readme = "README.md"
homepage = "https://www.escavador.com"
repository = "https://github.com/Escavador/escavador-python"

[tool.poetry.dependencies]
python = "^3.9"
requests = "^2.27.1"
asyncio = "^3.4.3"
aiodns = "^3.0.0"
cchardet = "^2.1.7"
python-dotenv = "^0.19.2"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
