name: Tests on all Python versions

on:
  push:
  pull_request:
    branches: [ main ]
  workflow_call:

jobs:
  # Modern versions job (matrix)
  tests-modern:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11", "3.12"]

    uses: ./.github/workflows/tests.yml
    with:
      python-version: ${{ matrix.python-version }}
    secrets: inherit
