name: Tests

on:
  workflow_call:
    inputs:
      python-version:
        description: "Python version to use"
        type: string
        required: true

jobs:
  build-and-run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Set up Python ${{ inputs.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ inputs.python-version }}

      - name: Install poetry and dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install poetry

      - name: Install dependencies
        run: poetry install --no-interaction --no-ansi

      - name: Run unit tests
        env:
          ESCAVADOR_API_KEY: ${{ secrets.ESCAVADOR_API_KEY }}
        run: poetry run python -m unittest discover -s tests
